.classContainer{
    border: 1px solid beige;
    border-radius: 3px;
    /* padding: 7px 11px; */
    margin: 20px;
    width: 500px;
}

.cardBody{
    font-size: 0.7em;
    padding: 9px, 13px;
    margin-bottom: 13px;
}

.cardHeading{
    margin-bottom: 20px;
    background-color: beige;
    color: green;
    font-size: 0.9em;
    font-weight: 700;
    text-align: center;
}

