.field{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: flex-end;
}

label{
    margin-right: 13px;
    font-size: 0.7em;
}

input{
    padding: 9px, 13px;
    border-radius: 3px;
    background-color: inherit;
    outline: none;
    color: white;
    width: 300px;
    font-size: 0.9em;
    border: none;
    border-bottom: 1px solid white;
}

button{
    padding: 11px, 17px;
    background-color: dodgerblue;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}